@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #0e8dd7 21.43%,
    #0594b7 50.63%,
    #07a8d1 100%,
    #0880e1 117.04%
  );
  @apply scale-125;
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
  font-weight: 600;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#42A6E3] to-[#FF56F6] font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}

.nav-hover {
  @apply hover:bg-cyan-400 hover:rounded-full transition duration-200 hover:scale-125 rounded-full hover:shadow-2xl;
}
.btn-main {
  @apply font-semibold drop-shadow-2xl px-4 py-2 md:px-8 md:py-3 text-lg rounded-full bg-transparent text-white hover:bg-gradient-to-r hover:from-cyan-600 hover:via-cyan-400 hover:to-cyan-500 border-2 border-cyan-500 hover:border-cyan-400 hover:text-black hover:scale-110 transition duration-200;
}
.text-color{
  @apply bg-gradient-to-r from-cyan-400 via-blue-400 to-cyan-600 text-transparent bg-clip-text;
}
 
.project-btn{
  @apply font-semibold drop-shadow-2xl px-6 py-1 text-lg rounded-md bg-cyan-400 text-black border hover:bg-transparent hover:scale-75 transition-all duration-300 border-cyan-500 hover:text-white;
}


